$main_color: orange;
$alt_color: purple;

$container_border: 1px solid black;
$container_padding: 10px;
$container_margin: 10px 0;

$h1_margin:0 0 20px 0;
$h2_margin: 15px 0;
$p_margin: 10px 0;

$btn1_padding: 10px 30px;
$btn1_font_weight: bolder;
$btn1_radius: 10px;

$btn2_padding: 15px 40px;
$btn2_font_weight: bolder;
$btn2_radius: 15px;
$btn2_hover_color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border-top: $container_border;
    border-bottom: $container_border;
    padding: $container_padding;
    margin: $container_margin;
}

h1{
    color: $main_color;
    margin: $h1_margin;
    text-transform: uppercase;
}

h2{
    color: $alt_color;
    margin: $h2_margin;
    text-transform: uppercase;
}

p{
    margin: $p_margin;
}

.btn1{
    color: $main_color;
    border: 2px solid $main_color;
    border-radius: $btn1_radius;
    padding: $btn1_padding;
    font-weight: $btn1_font_weight;
}
.btn1:hover{
    color: $alt_color;
    border-color: $alt_color;
}

.btn2{
    font-weight: $btn2_font_weight;
    color: $alt_color;
    padding: $btn2_padding;
    background: $main_color;
    border-color: $alt_color;
    border-radius: $btn2_radius;
}
.btn2:hover{
    color: $btn2_hover_color;
    border-color: $btn2_hover_color;
}
