$main_color: orange;
$alt_color: purple;

$btn1_padding: 10px 30px;
$btn1_font_weight: bolder;
$btn1_border: 2px solid $main_color;
$btn1_radius: 10px;

$btn2_padding: 15px 40px;
$btn2_font_weight: bolder;
$btn2_radius: 15px;
$btn2_hover_color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: $main_color;
    text-transform: uppercase;
}

h2{
    color: $alt_color;
    text-transform: uppercase;
}

.btn1{
    font-weight: $btn1_font_weight;
    color: $main_color;
    padding: $btn1_padding;
    border: $btn1_border;
    border-radius: $btn1_radius;
}
.btn1:hover{
    color: $alt_color;
    border-color: $alt_color;
}

.btn2{
    font-weight: $btn2_font_weight;
    color: $alt_color;
    padding: $btn2_padding;
    background: $main_color;
    border-color: $alt_color;
    border-radius: $btn2_radius;
}
.btn2:hover{
    color: $btn2_hover_color;
    border-color: $btn2_hover_color;
}
